@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@font-face{
    font-family: 'ruster';
    src: url(../fonts/ruster.TTF);
}
@font-face{
    font-family: 'RioGrande';
    src: url(../fonts/RioGrande.ttf);
}
@font-face{
    font-family: 'hipotesis';
    src: url(../fonts/Hipotesis.ttf);
}
@font-face{
    font-family: 'Eastwood';
    src: url(../fonts/Eastwood.ttf);
}
html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

p {
    font-family: 'RioGrande', cursive;
}